body{
    background: url(../images/lvl1back.png);
    background-size: 100%;
}

.main{
    
    padding-bottom: 50px;
    position: relative;  
}

img{
    height: 350px;
    width: 400px;
    margin-right: 100px;
    background-color: white;
    border-radius: 20%;
    border: 5px solid red;
}

#loserdiv{
    height: 100px;
    width: 380px;
    position: absolute;
    padding-top: 150px;
    font-size: 100px;
    background: none;
    border: none;
   
}

#pic1{
    position: absolute;
   margin-left: 36%;
   display: block;
}

#pic2{
    
    position: absolute;
    margin-left: 36%;
    display: none;
}

#nextlvl{
    height: 400px;
    width: auto;
    padding-top: 150px;
    flex:1;
    visibility: hidden;
}

#prevlvl{ 
    height: 100px;
    width: 200px;
    padding-top: 150px;
    padding-right: 500px;
    flex:1; 

    
    
}

.lvlbuttons{
    
    border-radius: 20%;
    border: 5px solid white;
    background-color: black;
}


h1{ 
    font-family: impact;
    font-weight: bold;
    font-size: 40px;
    color: red;
    width: 340px;
   
    border: 5px solid white;
    background-color: white; 
    border-radius: 20%;
}

#maintitle{
    font-family: impact;
    text-decoration: underline;
    width: 280px;
    font-weight: bold;
    font-size: 60px;
    color: red;
    text-shadow: 5px 5px black;  
    border: 5px solid white;
    background-color: black; 
    border-radius: 20%;
}

input{
    outline: none; 
}


.scorebox{  
    color: white;
    letter-spacing: 4px;
    display: inline-block;
    
}

button{
    height: 100px;
    width: 100px;
    align-content: right;
    background-color: white;
    
}


#maincontainer{
    height: 350px;
    width: auto;
    display: flex;  
}

#bottomdiv{
    height: 100px;
    width: auto;
    display: flex;
}

#inputdiv{
    height: 80px;
    width: 300px;
    flex: 1;   
    
}

#hintdiv{
    height: 80px;
    width: 100px;
    flex: 1;
    padding-right: 80px;
    
}

#hintdiv2{
    height: 80px;
    width: 500px;
    flex: 1;
    padding-right: 80px; 
}

#hintdiv:hover{
    cursor: pointer;
}

a {   
    text-decoration: none;
}

a:hover {     
     text-decoration:none; 
     cursor:pointer;  
}

#answertitle{
    font-family: impact;
    font-weight: bold;
    font-size: 50px;
    color: red;
    width: 330px;
    background-color: black;
    text-shadow: 5px 5px black;

}

p{  
    font-family: impact;
    height: 100px;
    width: 450px;
    font-size: 35px;
    color: red;
    padding-left: 70px;
    text-shadow: 5px 5px red; 
    padding-top: 130px;  
    
}

#hinttitle{
    font-family: impact;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 50px;
    color: red;
    width: 200px;
    border: 5px solid white;
    background-color: black; 
    text-shadow: 1px 1px red; 
    border-radius: 20%;
}