body{
    background: url(../images/lvl1back.jpg);
    background-size: 100%;
}

.main{  
    position: relative;  
}

img{
    height: 400px;
    width: auto; 
}

#pic1{
    position: absolute;
   margin-left: 30%;
   display: block;
}

#pic2{
    
    position: absolute;
    margin-left: 30%;
    display: none;
}

#nextlvl{
    height: 400px;
    width: auto;
    
    flex:1;
}

#prevlvl{ 
    height: 400px;
    width: auto;
    
    flex:1; 
}

.lvlbuttons{
    padding-top:60px;
}


h1{ 
    font-family: arial;
    font-weight: bold;
    font-size: 60px;
    color: red;
    text-shadow: 5px 5px white;   
}

input{
     
    outline: none; 
}


.scorebox{  
    color: white;
    letter-spacing: 4px;
    display: inline-block;
    color: green;
    
}

button{
    height: 100px;
    width: 100px;
    align-content: right;
    background-color: black;
    
}


#maincontainer{
    height: 400px;
    width: auto;
    display: flex;  
}

#bottomdiv{
    height: 100px;
    width: auto;
    display: flex;
}

#inputdiv{
    height: 80px;
    width: 300px;
    flex: 1;   
    
}

#hintdiv{
    height: 80px;
    width: 100px;
    flex: 1;
    padding-right: 80px;  
}

#hintdiv:hover{
    cursor: pointer;
}

#hintdiv2{
    height: 80px;
    width: 100px;
    flex: 1;
    padding-right: 80px;
    
}

a {   
    text-decoration: none;
}

a:hover {     
     text-decoration:none; 
     cursor:pointer;  
}

#answertitle{
    font-family: arial;
    font-weight: bold;
    font-size: 50px;
    color: red;
}